example/{_arrayOfNums__\[{_number__0},{_number__1},{_number.txt
example/3-1.txt
example/3-2.txt
example/4-1.py
example/4-2.txt
example/4-3.txt
example/4-4.txt
example/5-1.txt
example/5-2.py
example/5-2.txt
example/5-3
example/5-4.py
example/5-4.txt
example/5-5
example/6-1.py
example/6-2.py
example/6-3.py
example/6-10.py
example/6-11.py
example/6-12.py
example/7-1.txt
example/7-2.py
example/9-1.py
example/9-2.py
example/9-3.py
example/9-5.py
example/9-7.py
example/error_log
example/myFile.txt
example/python-scraping-master_2.7z
example/python-scraping-master.zip
example/test.py
example/test.txt
example/ЧАСТЬ ПЕРВАЯ
python-scraping-master/captcha.png
python-scraping-master/Chapter04_FirstWebScraper.ipynb
python-scraping-master/Chapter05_AdvancedHTMLParsing.ipynb
python-scraping-master/Chapter06_Web-Crawlers.ipynb
python-scraping-master/Chapter07_CrawlingModels.ipynb
python-scraping-master/Chapter09_StoringData.ipynb
python-scraping-master/Chapter10_ReadingDocuments.ipynb
python-scraping-master/Chapter11_CleaningYourDirtyData.ipynb
python-scraping-master/Chapter12_NaturalLanguages.ipynb
python-scraping-master/Chapter13_CrawlingThroughFormsAndLogins.ipynb
python-scraping-master/Chapter14_JavaScript.ipynb
python-scraping-master/Chapter15_API-Scraping.ipynb
python-scraping-master/Chapter16_ImageProcessing.ipynb
python-scraping-master/Chapter17_ScrapingTraps.ipynb
python-scraping-master/Chapter18_Testing.ipynb
python-scraping-master/Chapter19_WebScrapingInParallel.ipynb
python-scraping-master/Chapter20_WebScrapingProxies.ipynb
python-scraping-master/editors.csv
python-scraping-master/foo.pdf
python-scraping-master/logo.jpg
python-scraping-master/output.txt
python-scraping-master/page.jpg
python-scraping-master/pythonscraping.png
python-scraping-master/README.md
python-scraping-master/result.html
python-scraping-master/test.csv
python-scraping-master/captchas/.DS_Store
python-scraping-master/captchas/2F8S.png
python-scraping-master/captchas/2PHU.png
python-scraping-master/captchas/2XMT.png
python-scraping-master/captchas/3A68.png
python-scraping-master/captchas/3BE8.png
python-scraping-master/captchas/3DXJ.png
python-scraping-master/captchas/3FDB.png
python-scraping-master/captchas/3FK7.png
python-scraping-master/captchas/3JW5.png
python-scraping-master/captchas/3LNK.png
python-scraping-master/captchas/3QZZ.png
python-scraping-master/captchas/3RW7.png
python-scraping-master/captchas/3TCH.png
python-scraping-master/captchas/3YL8.png
python-scraping-master/captchas/3ZV3.png
python-scraping-master/captchas/4AUM.png
python-scraping-master/captchas/4QXS.png
python-scraping-master/captchas/4VHT.png
python-scraping-master/captchas/4WSU.png
python-scraping-master/captchas/6DM4.png
python-scraping-master/captchas/6MGR.png
python-scraping-master/captchas/6PQ8.png
python-scraping-master/captchas/7B63.png
python-scraping-master/captchas/7CA2.png
python-scraping-master/captchas/7HSD.png
python-scraping-master/captchas/7MGH.png
python-scraping-master/captchas/7R6J.png
python-scraping-master/captchas/7RK3.png
python-scraping-master/captchas/7VUC.png
python-scraping-master/captchas/7X8F.png
python-scraping-master/captchas/7Y4S.png
python-scraping-master/captchas/8D8L.png
python-scraping-master/captchas/8MB6.png
python-scraping-master/captchas/8N2Q.png
python-scraping-master/captchas/8N6D.png
python-scraping-master/captchas/8NMS.png
python-scraping-master/captchas/8PRQ.png
python-scraping-master/captchas/8XAQ.png
python-scraping-master/captchas/8YEP.png
python-scraping-master/captchas/9D6N.png
python-scraping-master/captchas/9J8K.png
python-scraping-master/captchas/9J9F.png
python-scraping-master/captchas/34PQ.png
python-scraping-master/captchas/37QR.png
python-scraping-master/captchas/46VL.png
python-scraping-master/captchas/49K7.png
python-scraping-master/captchas/52X6.png
python-scraping-master/captchas/56AZ.png
python-scraping-master/captchas/65KQ.png
python-scraping-master/captchas/83CA.png
python-scraping-master/captchas/88MU.png
python-scraping-master/captchas/696R.png
python-scraping-master/captchas/832C.png
python-scraping-master/captchas/7994.png
python-scraping-master/captchas/8696.png
python-scraping-master/captchas/A5HM.png
python-scraping-master/captchas/A23U.png
python-scraping-master/captchas/ACQC.png
python-scraping-master/captchas/ADU5.png
python-scraping-master/captchas/AK6F.png
python-scraping-master/captchas/ALX2.png
python-scraping-master/captchas/APAR.png
python-scraping-master/captchas/AQF2.png
python-scraping-master/captchas/ASMW.png
python-scraping-master/captchas/BGKH.png
python-scraping-master/captchas/BX48.png
python-scraping-master/captchas/C6TJ.png
python-scraping-master/captchas/CFGF.png
python-scraping-master/captchas/CQ34.png
python-scraping-master/captchas/CRET.png
python-scraping-master/captchas/CX5M.png
python-scraping-master/captchas/D675.png
python-scraping-master/captchas/DCSR.png
python-scraping-master/captchas/DJFF.png
python-scraping-master/captchas/DPML.png
python-scraping-master/captchas/DTKQ.png
python-scraping-master/captchas/DU9H.png
python-scraping-master/captchas/DZQW.png
python-scraping-master/captchas/E34Y.png
python-scraping-master/captchas/E88R.png
python-scraping-master/captchas/EASL.png
python-scraping-master/captchas/EFZZ.png
python-scraping-master/captchas/EJZV.png
python-scraping-master/captchas/EKJC.png
python-scraping-master/captchas/EMS3.png
python-scraping-master/captchas/ERU6.png
python-scraping-master/captchas/EW7Q.png
python-scraping-master/captchas/EYPK.png
python-scraping-master/captchas/FAAS.png
python-scraping-master/captchas/FFNS.png
python-scraping-master/captchas/FNT9.png
python-scraping-master/captchas/FP6Z.png
python-scraping-master/captchas/FPL3.png
python-scraping-master/captchas/FUYF.png
python-scraping-master/captchas/FX8M.png
python-scraping-master/captchas/GEV7.png
python-scraping-master/captchas/GQ7W.png
python-scraping-master/captchas/GSAZ.png
python-scraping-master/captchas/GVPA.png
python-scraping-master/captchas/GWH9.png
python-scraping-master/captchas/GZ45.png
python-scraping-master/captchas/H2U5.png
python-scraping-master/captchas/HCEA.png
python-scraping-master/captchas/HF4F.png
python-scraping-master/captchas/HH9N.png
python-scraping-master/captchas/HKUM.png
python-scraping-master/captchas/JTM7.png
python-scraping-master/captchas/K3WQ.png
python-scraping-master/captchas/K4U4.png
python-scraping-master/captchas/KE7H.png
python-scraping-master/captchas/KQCT.png
python-scraping-master/captchas/KUR6.png
python-scraping-master/captchas/L4V8.png
python-scraping-master/captchas/L95D.png
python-scraping-master/captchas/LADE.png
python-scraping-master/captchas/LDS9.png
python-scraping-master/captchas/LH74.png
python-scraping-master/captchas/MBE7.png
python-scraping-master/captchas/MD5K.png
python-scraping-master/captchas/MKTX.png
python-scraping-master/captchas/MMB9.png
python-scraping-master/captchas/N82K.png
python-scraping-master/captchas/NB7Y.png
python-scraping-master/captchas/NEQT.png
python-scraping-master/captchas/NNMB.png
python-scraping-master/captchas/NYJE.png
python-scraping-master/captchas/P9UC.png
python-scraping-master/captchas/PC5N.png
python-scraping-master/captchas/PCEV.png
python-scraping-master/captchas/PK7W.png
python-scraping-master/captchas/PQWA.png
python-scraping-master/captchas/PWF9.png
python-scraping-master/captchas/QDKW.png
python-scraping-master/captchas/QJJX.png
python-scraping-master/captchas/QLAX.png
python-scraping-master/captchas/QPP7.png
python-scraping-master/captchas/QR3C.png
python-scraping-master/captchas/QTHL.png
python-scraping-master/captchas/QTP6.png
python-scraping-master/captchas/QUEB.png
python-scraping-master/captchas/QX4A.png
python-scraping-master/captchas/QYWB.png
python-scraping-master/captchas/R66E.png
python-scraping-master/captchas/RKE5.png
python-scraping-master/captchas/RLZ7.png
python-scraping-master/captchas/RQTM.png
python-scraping-master/captchas/RSE8.png
python-scraping-master/captchas/S2UB.png
python-scraping-master/captchas/S5QK.png
python-scraping-master/captchas/S8Z8.png
python-scraping-master/captchas/SAAM.png
python-scraping-master/captchas/SZ34.png
python-scraping-master/captchas/T2CS.png
python-scraping-master/captchas/T46Y.png
python-scraping-master/captchas/TJ8H.png
python-scraping-master/captchas/TJZS.png
python-scraping-master/captchas/TLRX.png
python-scraping-master/captchas/TNBP.png
python-scraping-master/captchas/TUCS.png
python-scraping-master/captchas/TVLQ.png
python-scraping-master/captchas/U6GN.png
python-scraping-master/captchas/U7CH.png
python-scraping-master/captchas/U9EH.png
python-scraping-master/captchas/UGA6.png
python-scraping-master/captchas/UKXW.png
python-scraping-master/captchas/UNKE.png
python-scraping-master/captchas/UQZE.png
python-scraping-master/captchas/USE7.png
python-scraping-master/captchas/UUFN.png
python-scraping-master/captchas/V3YY.png
python-scraping-master/captchas/V9AH.png
python-scraping-master/captchas/VBUM.png
python-scraping-master/captchas/VCMC.png
python-scraping-master/captchas/VCUD.png
python-scraping-master/captchas/VDS5.png
python-scraping-master/captchas/VFC5.png
python-scraping-master/captchas/VTWE.png
python-scraping-master/captchas/W43T.png
python-scraping-master/captchas/WAP7.png
python-scraping-master/captchas/WH3C.png
python-scraping-master/captchas/WKU5.png
python-scraping-master/captchas/X5ZS.png
python-scraping-master/captchas/X7D4.png
python-scraping-master/captchas/XE48.png
python-scraping-master/captchas/XER2.png
python-scraping-master/captchas/XFCT.png
python-scraping-master/captchas/XPGT.png
python-scraping-master/captchas/XU8Y.png
python-scraping-master/captchas/Y2Z3.png
python-scraping-master/captchas/Y5L5.png
python-scraping-master/captchas/YAGV.png
python-scraping-master/captchas/YEZY.png
python-scraping-master/captchas/YGV4.png
python-scraping-master/captchas/YMZM.png
python-scraping-master/captchas/YRQ8.png
python-scraping-master/captchas/YSRA.png
python-scraping-master/captchas/ZCBP.png
python-scraping-master/captchas/ZNYD.png
python-scraping-master/captchas/ZTNL.png
python-scraping-master/captchas/ZXBW.png
python-scraping-master/Chapter08_Scrapy/wikiSpider/scrapinghub.yml
python-scraping-master/Chapter08_Scrapy/wikiSpider/scrapy.cfg
python-scraping-master/Chapter08_Scrapy/wikiSpider/setup.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/__init__.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/items.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/middlewares.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/pipelines.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/settings.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/spiders/__init__.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/spiders/article.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/spiders/articleItems.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/spiders/articlePipelines.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/spiders/articles.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/build/lib/wikiSpider/spiders/articlesMoreRules.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/project.egg-info/dependency_links.txt
python-scraping-master/Chapter08_Scrapy/wikiSpider/project.egg-info/entry_points.txt
python-scraping-master/Chapter08_Scrapy/wikiSpider/project.egg-info/PKG-INFO
python-scraping-master/Chapter08_Scrapy/wikiSpider/project.egg-info/SOURCES.txt
python-scraping-master/Chapter08_Scrapy/wikiSpider/project.egg-info/top_level.txt
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/__init__.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/articles.csv
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/articles.json
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/articles.xml
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/items.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/middlewares.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/pipelines.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/settings.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/__pycache__/__init__.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/__pycache__/items.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/__pycache__/pipelines.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/__pycache__/settings.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/__init__.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/article.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/articleItems.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/articlePipelines.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/articles.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/articlesMoreRules.py
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/__pycache__/__init__.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/__pycache__/article.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/__pycache__/articleItems.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/__pycache__/articlePipelines.cpython-39.pyc
python-scraping-master/Chapter08_Scrapy/wikiSpider/wikiSpider/spiders/__pycache__/articlesMoreRules.cpython-39.pyc
python-scraping-master/Chapter16_ImageProcessingFiles/.DS_Store
python-scraping-master/Chapter16_ImageProcessingFiles/kitten_blurred.jpg
python-scraping-master/Chapter16_ImageProcessingFiles/kitten.jpg
python-scraping-master/Chapter16_ImageProcessingFiles/test.png
python-scraping-master/Chapter16_ImageProcessingFiles/text_2.png
python-scraping-master/Chapter16_ImageProcessingFiles/text_bad.png
python-scraping-master/Chapter16_ImageProcessingFiles/text_cleaned.png
python-scraping-master/Chapter16_ImageProcessingFiles/text.png
python-scraping-master/Chapter16_ImageProcessingFiles/textoutput.txt
python-scraping-master/Chapter16_Parallel/multiprocess_example.py
python-scraping-master/Chapter16_Parallel/multiprocess_queue.py
python-scraping-master/Chapter16_Parallel/multiprocess.py
python-scraping-master/Chapter16_Parallel/multithreaded_class.py
python-scraping-master/Chapter16_Parallel/multithreaded_example.py
python-scraping-master/Chapter16_Parallel/multithreaded_queue.py
python-scraping-master/Chapter16_Parallel/multithreaded.py
python-scraping-master/Chapter16_Parallel/threading_crawler.py
python-scraping-master/Chapter16_Parallel/threading_example.py
python-scraping-master/downloaded/cdn.oreillystatic.com/ajax/libs/jquery/3.3.1/jquery.min.js
python-scraping-master/downloaded/cdn.oreillystatic.com/ajax/libs/jquery/3.3.1/jquery.min.js_
python-scraping-master/downloaded/cdn.oreillystatic.com/images/dei/deij-odot.svg
python-scraping-master/downloaded/cdn.oreillystatic.com/images/dei/deij-odot.svg_
python-scraping-master/downloaded/cdn.oreillystatic.com/images/sitewide-headers/oreilly_logo_mark_red.svg
python-scraping-master/downloaded/cdn.oreillystatic.com/images/sitewide-headers/oreilly_logo_mark_red.svg_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/amazon-appstore-logo.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/amazon-appstore-logo.png_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/app-store-logo.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/app-store-logo.png_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/cert-vendor-logos.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/cert-vendor-logos.png_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/google-play-logo.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/google-play-logo.png_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home_plot3_lot_600x600.jpg
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home_plot3_lot_600x600.jpg_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home-video-testimonial-thumb1-711x400-20221020.jpg
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home-video-testimonial-thumb1-711x400-20221020.jpg_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home-video-testimonial-thumb2-400x225-20221019.jpg
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home-video-testimonial-thumb2-400x225-20221019.jpg_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home-video-testimonial-thumb3-711x400-20230201.jpg
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/home-video-testimonial-thumb3-711x400-20230201.jpg_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/interactive_laptop_780x426.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/interactive_laptop_780x426.png_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/laptop-flat-courses-20230228.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/laptop-flat-courses-20230228.png_
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/roku-tv-logo.png
python-scraping-master/downloaded/cdn.oreillystatic.com/oreilly/images/roku-tv-logo.png_
python-scraping-master/downloaded/cdnapisec.kaltura.com/p/1681692/sp/168169200/embedIframeJs/uiconf_id/47268383/partner_id/1681692
python-scraping-master/downloaded/cdnapisec.kaltura.com/p/1681692/sp/168169200/embedIframeJs/uiconf_id/47268383/partner_id/1681692_
python-scraping-master/downloaded/pythonscraping.com/wp-content/plugins/pagelayer/js/combined.js
python-scraping-master/downloaded/pythonscraping.com/wp-content/plugins/pagelayer/js/combined.js_ver=1.5.9
python-scraping-master/downloaded/pythonscraping.com/wp-content/themes/popularfx/js/navigation.js
python-scraping-master/downloaded/pythonscraping.com/wp-content/themes/popularfx/js/navigation.js_ver=1.2.0
python-scraping-master/downloaded/pythonscraping.com/wp-content/uploads/2021/08/home1.jpg
python-scraping-master/downloaded/pythonscraping.com/wp-content/uploads/2021/08/home1.jpg_
python-scraping-master/downloaded/pythonscraping.com/wp-content/uploads/2021/08/logo01-e1681353135199.png
python-scraping-master/downloaded/pythonscraping.com/wp-content/uploads/2021/08/logo01-e1681353135199.png_
python-scraping-master/downloaded/pythonscraping.com/wp-content/uploads/2023/04/python-logo-e1681354047443.png
python-scraping-master/downloaded/pythonscraping.com/wp-content/uploads/2023/04/python-logo-e1681354047443.png_
python-scraping-master/downloaded/pythonscraping.com/wp-includes/js/jquery/jquery-migrate.min.js
python-scraping-master/downloaded/pythonscraping.com/wp-includes/js/jquery/jquery-migrate.min.js_ver=3.4.0
python-scraping-master/downloaded/pythonscraping.com/wp-includes/js/jquery/jquery.min.js
python-scraping-master/downloaded/pythonscraping.com/wp-includes/js/jquery/jquery.min.js_ver=3.6.3
python-scraping-master/downloaded/www.googletagmanager.com/ns.html
python-scraping-master/downloaded/www.googletagmanager.com/ns.html_id=GTM-5P4V6Z
python-scraping-master/drivers/.DS_Store
python-scraping-master/drivers/chromedriver_mac_arm64/chromedriver
python-scraping-master/drivers/chromedriver_mac_arm64/LICENSE.chromedriver
